---
import "@fontsource/henny-penny";
---

<div class="flex gap-4 px-6 pb-10 lg:overflow-scroll lg:flex-1 lg:mx-auto">
  <div class="mb-4">
    <form id="add-task-form">
      <button type="submit">Add Task</button>
    </form>
  </div>
  <div id="task-list" class="flex flex-col gap-4 lg:flex-row">
    <!-- タスクリストがここに表示されます -->
  </div>
</div>

<script>
  import { TaskContext } from "../lib/taskStore";
  import { TaskModalContext } from "../lib/taskModaStore";
  import Sortable from "sortablejs";

  // タスクコンテキスト
  const taskContext = TaskContext.getInstance();
  const taskModalContext = TaskModalContext.getInstance();

  const form = document.getElementById("add-task-form");
  if (!form) throw new Error("add-task-form not found");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    console.log("submit");
    const title = "Hoge";
    const description = "XX";
    taskContext.addTask(title, description, "To Do");
  });

  declare global {
    interface Window {
      simpleAlert: () => void;
    }
  }

  window.simpleAlert = () => {
    alert("simpleAlert");
  };

  function renderTasks() {
    const columns = taskContext.getColumns();
    const taskList = document.getElementById("task-list");
    if (!taskList) throw new Error("task-list not found");
    let ids: string[] = [];
    taskList.innerHTML = columns
      .map((column) => {
        ids.push(`column-${column.label}`);
        return `
            <div id="column-${column.label}" class="border border-gray-300 rounded-[24px] p-6 bg-[#E1E1E1] w-[400px]">
                <div class="flex justify-between mb-4">
                    <h3 id="column-title-${column.label}" class="text-2xl font-inter column-title focus:outline-none px-2 py-0.5 rounded-md focus:bg-[#F0F0F0]" data-column-id="${column.label}" contenteditable="true">${column.label}</h3>
                    <div class="flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" onclick="window.simpleAlert()">
                            <path fill="currentColor" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="cursor-pointer">
                            <path fill="currentColor" d="M16 12a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2"/>
                        </svg>
                    </div>
                </div>
              <div class="flex flex-col gap-2 sortable-container min-h-12" data-column-label="${column.label}">
                ${column.tasks
                  .map(
                    (task) => `
                  <div class="task-item border border-gray-300 rounded-[24px] p-2 bg-[#ffffff] p-4 hover:translate-y-[-4px] hover:shadow-lg transition-transform duration-300" data-task-id="${task.id}" data-column-label="${column.label}">
                    <div class="flex justify-between">
                      <h4 class="text-2xl ">${task.title}</h4>
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="cursor-pointer edit-task-icon">
                        <path fill="currentColor" d="M5 3c-1.11 0-2 .89-2 2v14c0 1.11.89 2 2 2h14c1.11 0 2-.89 2-2v-7h-2v7H5V5h7V3H5m12.78 1a.69.69 0 0 0-.48.2l-1.22 1.21l2.5 2.5L19.8 6.7c.26-.26.26-.7 0-.95L18.25 4.2c-.13-.13-.3-.2-.47-.2m-2.41 2.12L8 13.5V16h2.5l7.37-7.37l-2.5-2.5Z"/>
                      </svg>
                    </div>
                    <p class="text-sm py-2">${task.description}</p>
                  </div>
                `
                  )
                  .join("")}
              </div>
            </div>
          `;
      })
      .join("");
    ids?.forEach((id) => {
      const element = document
        .getElementById(id)
        ?.querySelector(".sortable-container");
      if (!element) return;
      new Sortable(element as HTMLElement, {
        group: "shared",
        animation: 150,
        emptyInsertThreshold: 20,
        onEnd: (event) => {
          const taskId = event.item.getAttribute("data-task-id");
          const fromColumnLabel =
            event.from.getAttribute("data-column-label") ?? "";
          const toColumnLabel =
            event.to.getAttribute("data-column-label") ?? "";
          const newIndex = event.newIndex ?? 0;
          taskContext.moveTask(
            Number(taskId),
            fromColumnLabel,
            toColumnLabel,
            newIndex
          );
        },
      });
    });
  }

  function setupColumnLabelEditing() {
    const columnTitles = document.querySelectorAll(".column-title");
    columnTitles.forEach((title) => {
      title.addEventListener("blur", function (this: HTMLElement) {
        const columnId = title.getAttribute("data-column-id");
        const newTitle = title.textContent?.trim();
        if (newTitle && columnId) {
          taskContext.updateColumnLabel(columnId, newTitle);
        }
      });

      title.addEventListener("keydown", function (this: HTMLElement, e: Event) {
        const event = e as KeyboardEvent;
        if (event.key === "Enter") {
          e.preventDefault();
          this.blur();
        }
      });
    });
  }

  function setUpModal() {
    console.log("setUpModal");
    const taskItems = document.querySelectorAll(".task-item");
    taskItems.forEach((item) => {
      const taskId = item.getAttribute("data-task-id");
      const columnLabel = item.getAttribute("data-column-label");
      const editTaskIcon = item.querySelector(".edit-task-icon");
      editTaskIcon?.addEventListener("click", () => {
        console.log("edit task icon clicked");
        const modalWrapper = document.querySelector(".modal-wrapper");
        if (modalWrapper) {
          taskModalContext.openModal(taskId ?? "", columnLabel ?? "");
        }
      });
    });
  }

  // 初期レンダリング
  renderTasks();
  setupColumnLabelEditing();
  setUpModal();
  // listener
  taskContext.addListener(renderTasks);
  taskContext.addListener(setupColumnLabelEditing);
  taskContext.addListener(setUpModal);
</script>
